
<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    &lt;!&ndash; Left Half (Black) &ndash;&gt;-->
<!--    &lt;!&ndash; Right Half (Photo) &ndash;&gt;-->
<!--    <div class="col-6 right-half">-->
<!--      <img src= {{image}} alt="Your Photo">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="imageContainer">
  <div class="bgImage">
    <div class="container-fluid text-center">
      <div class="row align-items-start">
        <div class="col-3">
          <p class="generalUeberschrift text-center">PERSÖNLICHE ANGABEN</p>
          <p class="generalText borderRight">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-4">
          <p class="generalUeberschrift text-center">ETWAS ÜBER MICH</p>
          <p class="generalText">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <p class="headlineVorname">MARUAN</p>
          <p class="unterUeberschrift">FRONTEND DEVELOPER</p>
        </div>
      </div>
    </div>
  </div>
</div>
