<!--<div class="check">-->
<!--  <img id="fotoposition" src= {{image}} alt="its me"/>-->
<!--</div>-->

<!--<div class="container-lg">-->
<!--  <div class="row">-->
<!--    <div class="column">-->
<!--      <img src= {{image}} alt="its me" class="check">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container-fluid">
  <div class="row">
    <!-- Left Half (Black) -->
    <!-- Right Half (Photo) -->
    <div class="col-6 right-half">
      <img src= {{image}} alt="Your Photo">
    </div>
  </div>
</div>
