/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Red Rose';
  src: url('../src/assets/fonts/RedRose-VariableFont_wght.ttf')
}
body {
  background-color: #CDCDCD;
}
.generalUeberschrift{
  margin: 20px;
  color: #000000;
  font-family: 'Rita', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-shadow: #ffb49d 1px 0 10px;
}
.generalText {
  color: #000000;
  font-family: 'Rita', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-shadow: #ffb49d 1px 0 10px;
}
